.detail-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    font-family: "Roboto", sans-serif;
    font-size: 28px;
    font-weight: bold;
    padding-bottom: 10px;
    color: #014a94;
}
.detail-content {
    // width: 600px;
    max-width: 877px;
    min-height: 616px;
    width: 100%;
    height: fit-content;
    // height: 400px;
    // margin-top: 40px;
    margin-bottom: auto;
    //    margin-left: -170px;

    p {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 168.19%;
        margin-top: 0.5rem;
    }

    

    .detail-card {
        // width: 800px;
        // height: 500px;
        width: 877px;
        min-height: 616px;
        height: fit-content;
        background-color: #fff;
        border-radius: 5px;
        padding: 45px;
       
    }


        .label {
            font-size: 12em;
            color: #888;
            font-family: "Roboto", sans-serif;
        }

        h4 {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 168.19%;
        }

        .label-content {
            font-size: 16px;
            font-family: "Roboto", sans-serif;
            color: #32344b;
            margin-top: -11px;
        }

        .nominal-content {
            padding-top: 3px;
            padding-bottom: 3px;
            font-family: "Roboto", sans-serif;
            font-weight: 400;

            .nominal-right {
                color: #65c466;
                font-weight: 600;
            }
        }

        hr {
            margin-top: -3px;
        }

        .hubungi-wa {
            margin-top: 0.5rem;
            
            a { 
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                padding: 15px;
                text-decoration: underline;
            }
        }

        .status-agen {
            font-family: "Roboto", sans-serif;
            font-weight: 500;
            color: #014a94;
        }

        .accept-button {
            margin-top: 20px;

            button {
                float: right;
                border-style: none;
                color: #fff;
                background-color: #65C466;
                padding:5px 10px 5px 10px;
                border-radius: 6px;
                margin-right: 0.6rem;
                font-family: "Roboto", sans-serif;
                font-weight: 400;
                font-size: 17px;
            }
        }

        .cancel-button {
            margin-top: 20px;

            button {
                float: right;
                border-style: none;
                color: #fff;
                background-color: #dc4c44;
                padding:5px 10px 5px 10px;
                border-radius: 6px;
                font-family: "Roboto", sans-serif;
                font-weight: 400;
                font-size: 17px;
            }
        }
    

    @media (max-width: 524px) {
        
        .detail-container {
            margin: auto;
            width: 100%;
        }

        .detail-card {
            width: 100%;
        }

        .label {
            font-size: 14px;
        }

    }
}
